@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');


* {
    margin: 0;
    border: 0;
    }

:root{
    --backgroudColor:#F5EEC8;
    --mainColor: black;
    --secondColor: white;
    --thirdColor:#555843;

    --mainFont: 'Montserrat', sans-serif;
    --secondFont: : "Brush Script MT", cursive;
    --thirdFont: 'Agbalumo', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../src/components/img/body/backg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-color: var(--backgroudColor);*/
    color: var(--mainColor);
    box-sizing: border-box;
}

/* Estilos gerais do header
--------------------------------- */
.header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--thirdColor);
    opacity: .8;
}

.header-content {
    display: flex; 
    align-items: center;
    justify-content: space-between
}
.header-text{
    font-family: var(--thirdFont);
    font-size: 600%;
    color: var(--mainColor);
    font-weight: bold; 
}

.header-image {
    border: none;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-right: 10px;
}

.header-button-cointaner{
    display: flex; 
    margin: 0 15% 0 0;
}

.header-button {
    display: inline-block;
    padding: 5% 1%;
    margin: 0 5% 0 20%;
    border: 1px solid var(--mainColor);
    border-radius: 20%;
    box-shadow: inset 0 0 2% 2% var(--thirdColor);
    background-color: transparent;
    color: var(--secondColor);
    font-family: var(--mainFont);
    font-size: 170%;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 0 1% 0 var(--thirdColor);
}


.header-button:hover {
	background-color:var(--mainColor);
}

.header-button:active {
    background-color: var(--mainColor);
  }


/* Estilos gerais do Pagina
--------------------------------- */
.title-body{
    margin: 1%;
    color: var(--secondColor);
    text-decoration-color: var(--secondColor);
    font-size: 250%;
}

.main-container{
    margin: 1%;
}

.league-title{
    margin: 1%;
    color: var(--secondColor);
    text-decoration-color: var(--secondColor);
    background-color: var(--mainColor);
    font-size: 60%;
}

.game {
    margin: 1%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: stretch;
    gap: 10% 1%; 
}


.game-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    border: 1px solid var(--mainColor); 
    justify-items: stretch;
    background-color: var(--thirdColor);
}

.game-team-home {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}
.game-team-away {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}

.game-team-name {
    font-family: var(--mainFont);
    color: var(--mainColor);
    font-size: auto; 
    margin-left: 2%;
    font-size: 120%;
}


.game-team-image {
    width: 20%;
}


.game-score {
    font-family: var(--mainFont);
    color: var(--mainColor);
    font-size: 150%;
    text-align: center;
}

/* Estilos gerais do footer
--------------------------------- */
.footer {
    color: var(--secondColor);
    background-color: var(--thirdColor);
    padding: 0;
    text-align: center;
    font-family: var(--mainFont);
    font-size: 24px;
    font-weight: 400;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
}
