

/* General styles for the page content */
.title-body {
    margin: 1%;
    color: var(--fourthColor);
    text-decoration-color: var(--fourthColor);
    font-size: 250%;
}

.main-container {
    margin: 1%;
}


