.league-card{
    margin: 0.15%;
}

.league-title {
    margin: 0%;
    color: var(--fourthColor);
    text-decoration-color: var(--fourthColor);
    text-align: left;
    background: linear-gradient(to bottom, var(--secondColor), var(--mainColor));
    font-size: 185%;
    border-radius: 1%; 
    overflow: hidden; 
    font-weight: bold;
    text-align: center;
}

.league-container{
    display: flex;
    flex-direction: row;
    flex-wrap:  wrap;
    justify-content: flex-start;
    gap:0.3%;
    margin: 0% 0% 0% 0%;
}