/* General styles for the game elements */

.game-box {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 1px solid var(--mainColor);
    background: linear-gradient(to bottom, var(--secondColor), var(--thirdColor));
    margin: 0;
    border-radius: 5%; 
    overflow: hidden; 
}

.game-team-home{
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    flex-grow: 1;
}
.game-team-away {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    flex-grow: 1;
}

.game-team-name {
    font-family: var(--mainFont);
    color: var(--fourthColor);
    font-size: auto;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 100%;
}

.game-team-image {
    width: 15%;
    height: auto; /* Alterado para 'auto' para manter a proporção da imagem */
    max-width: 100%; /* Adicionado para garantir que a imagem não ultrapasse 15% da largura do contêiner */
    max-height: 50%; /* Adicionado para garantir que a imagem não ultrapasse 10% da altura do contêiner */
}

.game-score {
    font-weight: bold;
    font-family: var(--mainFont);
    color: var(--fourthColor);
    font-size: 150%;
    text-align: center;
    flex-grow: 3;
}